body {
    margin:0;
    font-size: 18px; 
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 50px; 
    text-align: center; 
    letter-spacing: -2.5px; 
}

div{
    margin: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

p {
    margin-right: 50px;
}

input{
    margin-left: 10px; 
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #6E8387;
    border-radius: 5px; 
}

select {
    margin-left: 10px; 
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #6E8387;
    border-radius: 5px; 
}

button {
  font-size: 18px; 
  background-color: #6E8387;
  color: white; 
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; 
}